@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #565656;
}

.main {
    background: #fff;
}

section,
.section {
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
}

h1,
h3,
h5 {
    font-weight: 600;
    color: #222;
    margin-bottom: 0;
}

h1 {
    font-size: 4em;
    font-weight: 600;
    line-height: 1.2;
}

h3 {
    font-size: 20px;
    line-height: 1.2;
}

h5 {
    font-size: 16px;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #565656;
    margin-bottom: 0;
}

a {
    color: #444;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a:hover,
a:focus {
    color: #F74B54;
}

a,
a:hover,
a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fw-3 {
    font-weight: 300;
}

.text-secondary {
    color: #666 !important;
}

.h-100vh {
    height: 100vh;
}

.inner-pages .h-100vh {
    height: 100vh !important;
}

.btn {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    line-height: 1;
    text-align: center;
    padding: 18px 30px;
    border-radius: 6px;
    outline: 0 none;
    position: relative;
    z-index: 1;
}

.btn:hover,
.btn:focus,
.btn:active {
    color: #fff;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.btn.prolend-primary {
    display: inline-block;
    padding: 16px 25px;
    border: 2px solid #F74B54;
    color: #F74B54;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn.prolend-primary::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F74B54;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn.prolend-primary.style-three {
    border: 2px solid #fff;
    color: #fff;
}

.btn.prolend-primary.style-three::before {
    background: #fff;
}

.btn.prolend-primary:hover,
.btn.prolend-primary:focus,
.btn.prolend-primary:active {
    color: #fff;
}

.btn.prolend-primary:hover::before,
.btn.prolend-primary:focus::before,
.btn.prolend-primary:active::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.btn.prolend-primary.style-three:hover,
.btn.prolend-primary.style-three:focus,
.btn.prolend-primary.style-three:active {
    color: #F74B54;
}

.button-group {
    margin-top: 30px;
}

.button-group a {
    margin-right: 10px;
}

.button-group a:last-child {
    margin-right: 0;
}

.store-buttons a {
    text-align: left;
}

.shape-bottom {
    position: absolute;
    top: auto;
    bottom: -1px;
    left: 0;
    right: 0;
}

.bg-overlay {
    position: relative;
    z-index: 0;
}

.bg-overlay::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.bg-overlay::after {
    background: linear-gradient(-47deg, #F956CB 0%, #F74B54 100%);
    opacity: 0.94;
    z-index: -1;
}
.welcome-area {
    height: 800px;
    z-index: 1;
}

@media (min-width: 992px) {
    .welcome-intro p {
        font-size: 16px;
        line-height: 1.6;
    }
}

.welcome-area.bg-overlay::after {
    z-index: -2;
}

.welcome-area .shape-bottom {
    z-index: -1;
}

.form-control {
    font-size: 15px;
    height: 60px;
    border: none;
    outline: none;
    padding-left: 20px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
    border: none;
    outline: none;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.contact-box .form-group input {
    font-size: 14px;
    height: 50px;
    background-color: #fdfcfb;
    padding: 0 15px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.contact-box .form-group input::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.6);
}

.contact-box .form-group input:-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.6);
}

.contact-box button {
    height: 60px;
    border-radius: 8px;
    background: #F74B54 !important;
}