.add-image{
    text-align: center;
    margin:10%;
    background-color: #565656;
    width: 70%;
    height: 30vh;
}
.add-image .input{
    display: flex;
    padding: 1rem;
}
.add-image .input label{
background-color: #696969;
border-radius: 0.25rem;
}
.add-image .input input{
    padding: 1rem;
    border-radius: 0.25rem;
    width: 20em;
    background-color: #696969;
}